.nav-pills .nav-link.active {
    color: #292b2c;
    background-color: #ff8229;
}

.nav a {
    color: #292b2c;
}

.btn-warning {
    background-color: #ff8229;
    border-color: #ff8229;
}


/*Progress-bar color is Orange*/

.progress-bar {
    background-color: #ff8229;
}


/*Color Badge-Warning*/

.badge-warning {
    background-color: #ff8229;
}

#login {
    margin-top: 30px;
}

#header {
    background: #333333;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create {
    padding-top: 20px;
}

.navbar-nav > li > a,
.navbar-brand {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}


/*e74c3c*/

.placeholders {
    padding-bottom: 3rem;
}

.pt-3 {
    padding-top: 1rem!important;
}
