/*.navbar{
	background-color: #FF700A;
}*/
.nav-pills .nav-link.active {
	color: #292b2c;
	background-color: #ff8229;
}
.nav a {
   color: #292b2c;
 }
 .btn-warning{
 	background-color: #ff8229;
 	border-color: #ff8229;
 }
 /*.navbar .active {
  background-color: #ff8229;
}*/
.progress-bar{
	background-color: #ff8229;
}
.popover-Astiks .popover {
  position: relative;
  display: block;
}
.badge-warning{
	background-color: #ff8229; 
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}