.navbar{
	background-color: #FF700A;
}
.nav-pills .nav-link.active {
	color: #292b2c;
	background-color: #FF700A;
}
.nav a {
   color: #FF700A;
 }
 .btn-warning{
 	background-color: #FF700A;
 	border-color: #ce783b;
 	color: #292b2c;
 }